In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from DA import Import

In [10]:
n = 25
a = 3
alpha = 0.05

In [11]:
df = pd.read_excel("data_raket.xlsx")

In [ ]:
df

    test  doel snelheid (in knopen)  resultaat (0=mis 1=raak)
0      1                        400                         0
1      2                        220                         1
2      3                        490                         0
3      4                        210                         1
4      5                        500                         0
5      6                        270                         0
6      7                        200                         1
7      8                        470                         0
8      9                        480                         0
9     10                        310                         1
10    11                        240                         1
11    12                        490                         0
12    13                        420                         0
13    14                        330                         1
14    15                        280                         1
15    16                        210                         1
16    17                        300                         1
17    18                        470                         1
18    19                        230                         0
19    20                        430                         0
20    21                        460                         0
21    22                        220                         1
22    23                        250                         1
23    24                        200                         1
24    25                        390                         0