In [1]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.graphics.factorplots import interaction_plot
import matplotlib.pyplot as plt
from scipy import stats

plt.style.use('seaborn-v0_8-colorblind')

In [2]:
mean = [93.0, 84.3, 64.3, 92.6, 88.4]

In [9]:
mean_m1 = np.ones((5, 1)) * mean
mean_m1.T

array([[93. , 93. , 93. , 93. , 93. ],
       [84.3, 84.3, 84.3, 84.3, 84.3],
       [64.3, 64.3, 64.3, 64.3, 64.3],
       [92.6, 92.6, 92.6, 92.6, 92.6],
       [88.4, 88.4, 88.4, 88.4, 88.4]])

In [24]:
diff = np.abs(mean_m1.T - mean_m1)

In [25]:
lsd = 5.419

In [26]:
diff > lsd

array([[False,  True,  True, False, False],
       [ True, False,  True,  True, False],
       [ True,  True, False,  True,  True],
       [False,  True,  True, False, False],
       [False, False,  True, False, False]])

In [27]:
df = pd.DataFrame(diff)
df.rename(columns={0:'A', 1:'B', 2:'C', 3:'D', 4:'E'}, index={0:'A', 1:'B', 2:'C', 3:'D', 4:'E'},)

      A     B     C     D     E
A   0.0   8.7  28.7   0.4   4.6
B   8.7   0.0  20.0   8.3   4.1
C  28.7  20.0   0.0  28.3  24.1
D   0.4   8.3  28.3   0.0   4.2
E   4.6   4.1  24.1   4.2   0.0