In [24]:
from pyDOE2 import *
import pandas as pd

In [20]:
design = ff2n(2)

In [21]:
design

array([[-1., -1.],
       [ 1., -1.],
       [-1.,  1.],
       [ 1.,  1.]])

In [22]:
design.T

array([[-1.,  1., -1.,  1.],
       [-1., -1.,  1.,  1.]])

In [25]:
fact_design = pd.DataFrame({'A':design.T[0],
                            'B':design.T[1]})

In [26]:
fact_design

     A    B
0 -1.0 -1.0
1  1.0 -1.0
2 -1.0  1.0
3  1.0  1.0

In [27]:
fact_design['AB'] = fact_design.A * fact_design.B

In [28]:
fact_design

     A    B   AB
0 -1.0 -1.0  1.0
1  1.0 -1.0 -1.0
2 -1.0  1.0 -1.0
3  1.0  1.0  1.0

In [38]:
list = [14.020, 14.825, 13.922, 14.789]

In [42]:
b0 = np.mean(list)

In [59]:
b1 = (59.299 + 59.156 - 55.686-56.081)/(4*2)/2

In [60]:
b0 - b1

13.971